* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.topnav {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #dad9d9;
  z-index: 1;
}

.topnav a {
  float: right;
  color: #999998;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a.title {
  float: left;
  color: #999998;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #f7f7f7ff;
  color: black;
}

.topnav a.active {
  background-color: #999998;
  color: #ddd;
}

#text{
  width: 78%;
  margin: auto;
  padding-top: 78px;

}

#sketch-holder{
  position: absolute;
  z-index: -1;
  width: 96%;
  align: center;
}

canvas{
  display: block;
  margin: 0 auto;
}
